@import './_vars';

.entry-list {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin-top: 100px;

    @media screen and (max-width:$mobileRes) {
        margin-left: 30px;
        margin-bottom: 50px;
    }
}

.global-mark {
    position: absolute;
    text-transform: uppercase;

    &.present {
        top: -30px;
        left: -30px;

    }

    &.start {
        bottom: -30px;
        left: -14px;
    }
}

.entry-container {
    position: relative;

    &:hover {
        .entry {
            box-shadow: 3px 3px 10px 0px var(--shadows);
        }

        .entry-side-line {
            &::after {
                width: 25px;
                height: 25px;
            }
        }
    }

    &:last-child .entry {
        margin-bottom: 0;
    }
}

.entry {
    background-color: var(--accent);
    padding: 15px;
    transition: all .1s;
    margin-left: 25px;
    margin-bottom: 20px;
    display: grid;
}

.entry-side-line {
    margin: 0 auto;
    height: 100%;
    width: 5px;
    background-color: var(--text);
    position: absolute;

    &::after {
        content: "";
        width: 20px;
        height: 20px;
        transition: all .1s;
        background-color: var(--text);
        position: absolute;
        border-radius: 100%;
        top: 45%;
        left: 50%;
        transform: translate(-53%, -50%);

    }
}



.entry {
    display: grid;
    grid-template-columns: 1fr;

    &.pro-entry {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;

        button {
            width: 50%;
            margin: 0 auto;
            text-transform: uppercase;
            padding: 10px;
            background-color: var(--buttons);
            border: none;
            &:hover{
                background-color: var(--buttons-hover);
            }
        }

        .description {
            font-size: 1em;
            cursor: pointer;
        }

        .tech-stack {
            border-bottom: 1px solid var(--text);
            padding-bottom: 20px;
        }

        .show-desc {
            cursor: pointer;
        }
    }

    &.wrk-entry {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "title description"
            "stack description";
        justify-content: flex-start;
        align-items: flex-start;
        justify-items: flex-start;

        @media screen and (max-width:$mobileRes) {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .wrk {
                border-top: 1px solid var(--text);
                width: 100%;
                padding-top: 10px;
                margin-top: 5px;
            }

            p {
                text-align: left;
            }
        }

        .top {
            grid-area: title;
        }

        .wrk {
            grid-area: description;
            display: gird;
            justify-content: flex-start;
            align-items: flex-start;
            justify-items: flex-start;
        }


        .tech-stack {
            grid-area: stack;
            display: gird;
            justify-content: flex-start;
            align-items: flex-start;
            justify-items: flex-start;
        }

    }

    .entry-title h3 {
        font-weight: bold;
        font-size: 1.6em;
        margin: 5px 0;
    }

    h4 {
        font-weight: bold;
        font-size: 1.3em;
        margin: 5px 0;
    }

    .entry-date {
        font-size: .9em;
        margin: 0;
    }

    p {
        margin: 10px 0;
        padding: 0;
    }

    hr {
        margin: 10px 0;
        display: none;
    }
}

.tech-stack {
    font-size: 1.2em;

    b {
        margin-right: 5px;
    }
}