:root {
    color-scheme: light dark;

    --content-width: 1600px;

    --dark-header-bg: #262626;
    --dark-bg: #0a161d;
    --dark-font: #d8d8d8;

    --light-header-bg: #e1e1e1;
    --light-bg: #ededed;
    --light-font: #000;
}

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: light-dark(var(--backgroundLight), var(--backgroundDark));
}

* {
    font-family: "Quicksand", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: light-dark(var(--light-font), var(--dark-font));
    ;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Gilda Display", serif;
    font-weight: bold;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.wrapper {
    max-width: var(--content-width);
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    background-color: light-dark(light-header-bg, --dark-header-bg);
}

.page-content {
    min-height: 85vh;
}